In [16]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [2]:
dataset=pd.read_csv("C:\PROJECTS\AI FOR DS PROJECT\AI FOR DS PROJECT\DATASET2\ethereum.csv")

In [15]:
dataset

,Date,Open,High,Low,Close,Volume,Currency,prediction
0,2016-03-10,11.20,11.85,11.07,11.75,4,USD,12.92
1,2016-03-11,11.75,11.95,11.75,11.95,179,USD,15.07
2,2016-03-12,11.95,13.45,11.95,12.92,833,USD,12.50
3,2016-03-13,12.92,15.07,12.92,15.07,1295,USD,13.06
4,2016-03-14,15.07,15.07,11.40,12.50,92183,USD,12.88
...,...,...,...,...,...,...,...,...
2118,2021-12-27,4062.02,4125.22,4033.04,4036.24,313319,USD,3627.93
2119,2021-12-28,4036.86,4036.86,3760.86,3791.69,527234,USD,3709.57
2120,2021-12-29,3792.95,3825.97,3607.20,3627.93,456030,USD,3677.85
2121,2021-12-30,3629.33,3767.93,3589.64,3709.57,355717,USD,NaN
2122,2021-12-31,3709.38,3812.01,3623.74,3677.85,405653,USD,NaN

In [5]:
projection =2
dataset['prediction']=dataset[['Close']].shift(-projection)
dataset

,Date,Open,High,Low,Close,Volume,Currency,prediction
0,2016-03-10,11.20,11.85,11.07,11.75,4,USD,12.92
1,2016-03-11,11.75,11.95,11.75,11.95,179,USD,15.07
2,2016-03-12,11.95,13.45,11.95,12.92,833,USD,12.50
3,2016-03-13,12.92,15.07,12.92,15.07,1295,USD,13.06
4,2016-03-14,15.07,15.07,11.40,12.50,92183,USD,12.88
...,...,...,...,...,...,...,...,...
2118,2021-12-27,4062.02,4125.22,4033.04,4036.24,313319,USD,3627.93
2119,2021-12-28,4036.86,4036.86,3760.86,3791.69,527234,USD,3709.57
2120,2021-12-29,3792.95,3825.97,3607.20,3627.93,456030,USD,3677.85
2121,2021-12-30,3629.33,3767.93,3589.64,3709.57,355717,USD,NaN
2122,2021-12-31,3709.38,3812.01,3623.74,3677.85,405653,USD,NaN

In [7]:
X=np.array(dataset[['Close']])
X=X[:-projection]
print(X)

[[  11.75]
 [  11.95]
 [  12.92]
 ...
 [4036.24]
 [3791.69]
 [3627.93]]

In [9]:
Y=dataset['prediction'].values
Y=Y[:-projection]
print(Y)

[  12.92   15.07   12.5  ... 3627.93 3709.57 3677.85]

In [10]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size= .15)

In [14]:
linereg=LinearRegression()
linereg.fit(X_train, Y_train)

LinearRegression()

In [3]:
linereg

NameError: name 'linereg' is not defined